workflow/persona.json
{
  "name": "persona",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there !\nMy name is 101Bot. I am here to assist you !\n\n✉️ Enter your email to login or create an account.",
        "availableInChat": true,
        "agentName": "101Bot",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -10288,
        2368
      ],
      "id": "f4ba7e01-5a8c-4e44-8dd3-4d890c0017db",
      "name": "When chat message received",
      "webhookId": "d544be8c-8106-4854-a864-c8d617e20825"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "Invalid email format ❌\n\nPlease try again.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -8896,
        2784
      ],
      "id": "204465bd-be89-4886-ac89-f5603fe702f7",
      "name": "Invalid email",
      "webhookId": "invalid-email-wh"
    },
    {
      "parameters": {
        "jsCode": "const otp = Math.floor(100000 + Math.random() * 900000).toString();\nconst sessionId = $('When chat message received').first().json.sessionId;\nconst email = $('Merge').first().json.email;\nreturn { json: { otp, sessionId, email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8864,
        2592
      ],
      "id": "91f68dca-73d9-47f6-8bf5-92ee28fc3e89",
      "name": "Generate OTP"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_otps (email, otp_code, expires_at)\nVALUES ($1, $2, NOW() + INTERVAL '10 minutes');",
        "options": {
          "queryReplacement": "={{ $json.email }}, {{ $json.otp }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8656,
        2592
      ],
      "id": "510d34ed-ece2-4030-9106-1fee0852829c",
      "name": "Store OTP",
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Generate OTP').item.json.email }}",
        "subject": "Your temporary 101Bot connection code",
        "emailType": "text",
        "message": "=Enter this temporary verification code to continue :\n\n {{ $('Generate OTP').item.json.otp }}\n\nCode expires in 10 minutes.",
        "options": {
          "senderName": "101Bot"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -8464,
        2592
      ],
      "id": "75163f03-c2f7-455f-9df3-c645df57a49e",
      "name": "Send OTP mail",
      "webhookId": "79f30b58-9c80-47a3-baf6-a71e6a732c91",
      "credentials": {
        "gmailOAuth2": {
          "id": "OBnNn0fsnQ7Aj3sj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM user_otps\n  WHERE email = $1\n    AND otp_code = $2\n    AND expires_at > NOW()\n) AS otp_valid;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}, {{ $json.chatInput }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7888,
        2608
      ],
      "id": "404f1b88-d013-48cd-9492-afe5023e2a21",
      "name": "Verify OTP",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (session_id, user_id, expires_at)\nVALUES ($1, $2, NOW() + INTERVAL '7 days')\nON CONFLICT (session_id)\nDO UPDATE SET\n  user_id = EXCLUDED.user_id,\n  expires_at = EXCLUDED.expires_at;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.sessionId }}, {{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6432,
        2576
      ],
      "id": "78ecf693-26b7-4107-acd2-0198f51db135",
      "name": "Create session",
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "It looks like you've entered the wrong code ❌\n\nPlease try again.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -7488,
        2768
      ],
      "id": "ff4e3ebd-c1b8-4a9f-b66c-b76ece237e44",
      "name": "Wrong OTP",
      "webhookId": "wrong-otp-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM sessions\n  WHERE session_id = $1\n    AND expires_at > NOW()\n) AS session_exists;",
        "options": {
          "queryReplacement": "={{ $json.sessionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -10048,
        2368
      ],
      "id": "4e02b7f2-56d5-438e-b610-f225ea02f52b",
      "name": "Find session ID",
      "credentials": {
        "postgres": {
          "id": "Vc6WtIRUFGCiKPV1",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "542a3731-f817-48a9-bd74-5c763ca128c9",
              "leftValue": "={{ $json.session_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -9824,
        2368
      ],
      "id": "47b2a767-5537-46c4-a06c-74ffa879afbb",
      "name": "If session ID exists"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=A verification code has been sent to {{ $('Generate OTP').item.json.email }}\n\nPlease enter it below.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -8272,
        2592
      ],
      "id": "f13315a1-e151-49f5-bb85-beb6ef7dbc3a",
      "name": "OTP sent",
      "webhookId": "otp-sent-wh"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "email-regex-check",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -9088,
        2608
      ],
      "id": "befbf63c-658c-4900-8736-a703a26f52f2",
      "name": "If email valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM users\n  WHERE email = $1\n) AS user_exists;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7280,
        2592
      ],
      "id": "9ccbae86-7535-4fa7-b427-f0686e97a3dc",
      "name": "Does user exist ?",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "02c47507-fa37-4427-ac54-ecf4d221d482",
              "leftValue": "={{ $json.user_exists }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7056,
        2592
      ],
      "id": "1e9be7fa-f834-4ea8-b28e-f921e238dc89",
      "name": "If user exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM user_otps\nWHERE email = $1\n  AND otp_code = $2;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}, {{ $('Generate OTP').item.json.otp }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7488,
        2592
      ],
      "id": "55f250de-bffb-44d5-ac43-3129a939b79f",
      "name": "Delete OTP",
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $('When chat message received').item.json.chatInput.trim().toLowerCase();\n\nreturn { json: { email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9584,
        2592
      ],
      "id": "944ff61b-dffd-4c35-aae7-9dc2befae0df",
      "name": "Format email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "otp-valid-cond",
              "leftValue": "={{ $json.otp_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7696,
        2608
      ],
      "id": "7717a0bc-c994-434b-8b77-fe939b5a96fb",
      "name": "If OTP valid"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "Authentication successful ✅\n\nHow can I help you today ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -6240,
        2576
      ],
      "id": "2d585038-fc9f-4df7-b78d-5017d88ab6c0",
      "name": "Authenticated",
      "webhookId": "logged-in-wh"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = ($json.chatInput || '').trim().toLowerCase();\n\nreturn { json: { email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8688,
        2784
      ],
      "id": "02b30bbd-7938-4b51-8ada-48ee17d97d9d",
      "name": "Format email1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -9296,
        2608
      ],
      "id": "7e23fcfd-8ed5-41c3-b739-102785366535",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -8064,
        2608
      ],
      "id": "020d1c30-0fee-4dda-802c-8432d4e636c4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email)\nVALUES ($1)\nON CONFLICT (email)\nDO UPDATE SET email = EXCLUDED.email\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6608,
        2576
      ],
      "id": "3df57494-82ba-4b2a-aeab-2c75ce4bff23",
      "name": "Find user_id",
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email, created_at)\nVALUES ($1, NOW());",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6848,
        2720
      ],
      "id": "20c3c554-656d-4e63-ba18-599175f1fd59",
      "name": "Creater user",
      "credentials": {
        "postgres": {
          "id": "32OWvi1TR83JGx3A",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant for a personalized newsletter platform.\n\nCRITICAL RULES:\n\n* Analyze ONLY the latest user message.\n* NEVER copy values from examples.\n* The \"user_message\" field MUST contain the exact user message.\n* Return ONLY valid JSON.\n* No markdown.\n* No explanations.\n* No text before or after the JSON.\n\nSUPPORTED INTENTS:\n\n* create_newsletter\n* update_preferences\n* update_email\n* unsubscribe\n* delete_data\n* send_newsletter_now\n* give_feedback\n* block_source\n* set_public_profile\n* search_public_user\n* help\n* invalid_request\n\nINTENT RULES:\n\nUse \"create_newsletter\" only when the user is creating a newsletter for the first time.\n\nUse \"update_preferences\" when the user:\n\n* adds topics\n* removes topics\n* replaces topics\n* changes schedule\n* changes format\n* changes tone\n* changes article count\n\nIf the request is unrelated to the newsletter platform, return:\n\n{\n\"intent\": \"invalid_request\"\n}\n\nTOPIC EXTRACTION RULES:\n\nYou MUST extract topics mentioned by the user.\n\nExamples:\n\n\"Add cybersecurity\"\n-> topics = [\"cybersecurity\"]\n\n\"Add AI and tennis\"\n-> topics = [\"AI\", \"tennis\"]\n\n\"Remove football\"\n-> topics = [\"football\"]\n\n\"I only want AI and cybersecurity now\"\n-> topics = [\"AI\", \"cybersecurity\"]\n\nTOPICS ACTION RULES:\n\n* add = add new topics\n* remove = remove topics\n* replace = replace all existing topics\n* null = topics not mentioned\n\nExamples:\n\n\"Add golf\"\n-> topics_action = \"add\"\n\n\"Remove football\"\n-> topics_action = \"remove\"\n\n\"I only want AI now\"\n-> topics_action = \"replace\"\n\nSCHEDULE RULES:\n\nConvert times to HH:MM format.\n\nExamples:\n\n\"10am\" -> \"10:00\"\n\"8am\" -> \"08:00\"\n\"6:30pm\" -> \"18:30\"\n\nALLOWED VALUES:\n\nfrequency:\n\n* daily\n* weekly\n* monthly\n\ntone:\n\n* neutral\n* professional\n* casual\n* funny\n\nformat:\n\n* short\n* detailed\n* html\n\nMISSING VALUES:\n\n* topics = []\n* all other fields = null\n\nJSON SCHEMA:\n\n{\n\"intent\": \"\",\n\"user_message\": \"\",\n\"topics\": [],\n\"topics_action\": null,\n\"frequency\": null,\n\"send_time\": null,\n\"tone\": null,\n\"format\": null,\n\"max_articles\": null,\n\"target_user\": null,\n\"source_to_block\": null,\n\"feedback\": null\n}\n\nEXAMPLES:\n\nUser:\nAdd cybersecurity\n\nResponse:\n{\n\"intent\": \"update_preferences\",\n\"user_message\": \"Add cybersecurity\",\n\"topics\": [\"cybersecurity\"],\n\"topics_action\": \"add\",\n\"frequency\": null,\n\"send_time\": null,\n\"tone\": null,\n\"format\": null,\n\"max_articles\": null,\n\"target_user\": null,\n\"source_to_block\": null,\n\"feedback\": null\n}\n\nUser:\nAdd golf and change the time to 10am\n\nResponse:\n{\n\"intent\": \"update_preferences\",\n\"user_message\": \"Add golf and change the time to 10am\",\n\"topics\": [\"golf\"],\n\"topics_action\": \"add\",\n\"frequency\": null,\n\"send_time\": \"10:00\",\n\"tone\": null,\n\"format\": null,\n\"max_articles\": null,\n\"target_user\": null,\n\"source_to_block\": null,\n\"feedback\": null\n}\n\nUser:\nI only want AI and cybersecurity now\n\nResponse:\n{\n\"intent\": \"update_preferences\",\n\"user_message\": \"I only want AI and cybersecurity now\",\n\"topics\": [\"AI\", \"cybersecurity\"],\n\"topics_action\": \"replace\",\n\"frequency\": null,\n\"send_time\": null,\n\"tone\": null,\n\"format\": null,\n\"max_articles\": null,\n\"target_user\": null,\n\"source_to_block\": null,\n\"feedback\": null\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -5728,
        2352
      ],
      "id": "70de84ee-264d-403c-b218-50f2dfb811f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=create_newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f128b9b-3d9d-495a-bfc0-56cc67c05bd6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee655d24-b73e-4344-a5c9-68df31a5df40",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "update_preferences",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update preferences"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "947b2c7f-f281-4a88-89f3-6146a8f5fc73",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=unsubscribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unsubscribe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d88fdd3-7b7a-450b-9d71-311ed2c61b16",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "update_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a6a32497-ea12-416b-9957-0bcd50360db1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "delete_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deleta data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5e2710f3-7ab7-439e-83ed-cd13d22810c3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "send_newsletter_now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send newsletter now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1956f804-72a2-43f1-9bc6-288c7797d0be",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "give_feedback",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Give feedback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7f14bf88-60cc-4bc0-a18d-70a2516d118e",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "block_source",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Block source"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0dbf1364-02bb-468f-b083-bb524c9b0181",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "set_public_profile",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set public profile"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b667876e-42a7-4d39-bacd-b62612b2e3f0",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "search_public_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Search public user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "480be10b-9897-4166-94b1-f8ccf745f8e7",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "365289fd-eaca-42b1-af71-8c660c4bbd78",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "invalid_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid request"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5152,
        2144
      ],
      "id": "82652a97-147f-4318-96bc-ce0ba42a0e68",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5728,
        2560
      ],
      "id": "c36d5c24-f535-410f-a565-3fd0069f8cc7",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "y4IGjS389YHUPaq5",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = JSON.parse($json.output);\n\nreturn [\n  {\n    json: {\n        intent: input.intent ?? \"invalid_request\",\n        user_message: input.user_message ?? \"\",\n        topics: Array.isArray(input.topics) ? input.topics : [],\n        topics_action: input.topics_action ?? null,\n        frequency: input.frequency ?? null,\n        send_time: input.send_time ?? null,\n        tone: input.tone ?? null,\n        format: input.format ?? null,\n        max_articles: input.max_articles ?? null,\n        target_user: input.target_user ?? null,\n        source_to_block: input.source_to_block ?? null,\n        feedback: input.feedback ?? null\n        \n      }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5376,
        2352
      ],
      "id": "143eb4b1-1a6f-47ed-9539-ac7c782febe5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pythonscript:8000/newsletter/create",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "topics",
              "value": "={{ $json.topics }}"
            },
            {
              "name": "frequency",
              "value": "={{ $json.frequency }}"
            },
            {
              "name": "send_time",
              "value": "={{ $json.send_time }}"
            },
            {
              "name": "tone",
              "value": "={{ $json.tone }}"
            },
            {
              "name": "format",
              "value": "={{ $json.format }}"
            },
            {
              "name": "max_articles",
              "value": "={{ $json.max_articles }}"
            },
            {
              "name": "topics_action",
              "value": "={{ $json.topics_action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4768,
        1888
      ],
      "id": "98b33bb4-4458-4772-bcfe-342c9c54d8e7",
      "name": "Create newsletter"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "I was unable to process your request ❌\n\nHere's the list of the requests I am able to process :\n\n- Create a new newsletter\n- Update your preferences (topics, format, send time, frequency...)\n- Unsubscribe you from your newsletter\n- Delete your data\n- Take feedbacks\n- Block sources\n- Send a newsletter now\n- Search public user\n- Set public profile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -4880,
        2736
      ],
      "id": "0e514cf4-d291-4378-8e9e-7720382b0a65",
      "name": "Invalid request",
      "webhookId": "54a8ddd6-0a05-421d-8ca5-6d0059a873c9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8684277c-12b5-4684-a73e-350ccf1a3fe7",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9616,
        2352
      ],
      "id": "29dea88a-8230-4bc2-bcf4-5b5134afd28a",
      "name": "Get user's request"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{ $json.message }}\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -3312,
        2528
      ],
      "id": "adebe0d3-f655-4afb-ba6f-79d79be35eea",
      "name": "Request succesfull",
      "webhookId": "1b466409-82b3-4748-8bcf-7287150f1b87"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://pythonscript:8000/newsletter/preferences",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "topics",
              "value": "={{ $json.topics }}"
            },
            {
              "name": "frequency",
              "value": "={{ $json.frequency }}"
            },
            {
              "name": "send_time",
              "value": "={{ $json.send_time }}"
            },
            {
              "name": "tone",
              "value": "={{ $json.tone }}"
            },
            {
              "name": "format",
              "value": "={{ $json.format }}"
            },
            {
              "name": "max_articles",
              "value": "={{ $json.max_articles }}"
            },
            {
              "name": "topics_action",
              "value": "={{ $json.topics_action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4768,
        2032
      ],
      "id": "1318f5fa-eb1d-49d1-9eba-71d50c73927d",
      "name": "Update preferences"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pythonscript:8000/newsletter/unsubscribe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4768,
        2192
      ],
      "id": "50b93bc5-7177-4974-bdca-7bb541dff002",
      "name": "Unsubscribe"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -4544,
        2432
      ],
      "id": "e2093a64-312b-4ff6-a877-0a9529e27e20",
      "name": "Deleted data message",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://pythonscript:8000/user/delete-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4768,
        2432
      ],
      "id": "4794ad02-f252-4092-aff6-c5101c412fab",
      "name": "Delete data"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Find session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OTP": {
      "main": [
        [
          {
            "node": "Store OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store OTP": {
      "main": [
        [
          {
            "node": "Send OTP mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify OTP": {
      "main": [
        [
          {
            "node": "If OTP valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find session ID": {
      "main": [
        [
          {
            "node": "If session ID exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If session ID exists": {
      "main": [
        [
          {
            "node": "Get user's request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create session": {
      "main": [
        [
          {
            "node": "Authenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email valid": {
      "main": [
        [
          {
            "node": "Generate OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does user exist ?": {
      "main": [
        [
          {
            "node": "If user exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If user exists": {
      "main": [
        [
          {
            "node": "Find user_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creater user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP mail": {
      "main": [
        [
          {
            "node": "OTP sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP sent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If OTP valid": {
      "main": [
        [
          {
            "node": "Delete OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete OTP": {
      "main": [
        [
          {
            "node": "Does user exist ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticated": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrong OTP": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Invalid email": {
      "main": [
        [
          {
            "node": "Format email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format email1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If email valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Verify OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user_id": {
      "main": [
        [
          {
            "node": "Create session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creater user": {
      "main": [
        [
          {
            "node": "Find user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Structured Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsubscribe",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Delete data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Invalid request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user's request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create newsletter": {
      "main": [
        [
          {
            "node": "Request succesfull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request succesfull": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update preferences": {
      "main": [
        [
          {
            "node": "Request succesfull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsubscribe": {
      "main": [
        [
          {
            "node": "Request succesfull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete data": {
      "main": [
        [
          {
            "node": "Deleted data message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1eaed92a-ddf8-44d4-af83-78cfd8305712",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969ea1c1808808e320c6d0c71e4814e425a1c6dba3fc25493128d0c7da598c6d"
  },
  "id": "vSLD9CLGZPEKHg6r",
  "tags": []
}