workflow/personaWithOTP.json
{
  "name": "persona",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there !\nMy name is 101Bot. I am here to assist you !\n\n✉️ Enter your email to login or create an account.",
        "availableInChat": true,
        "agentName": "101Bot",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        112,
        736
      ],
      "id": "86209778-5e38-4150-9b16-a16a4a833cae",
      "name": "When chat message received",
      "webhookId": "d544be8c-8106-4854-a864-c8d617e20825"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state, email FROM session_state WHERE session_id = '{{ $json.sessionId }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        736
      ],
      "id": "31810136-9f5a-4dcb-9550-86ac601fa2a7",
      "name": "Get state",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "DTTznXV18cXVbQ8y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-awaiting-otp",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_otp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_otp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-authenticated",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "authenticated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "authenticated"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        704,
        736
      ],
      "id": "4e9a402e-7a74-44a6-bf89-f865af77cd23",
      "name": "State Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "email-regex-check",
              "leftValue": "={{ $('When chat message received').first().json.chatInput }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        960
      ],
      "id": "e0e48228-4e4c-4fae-9e6d-7744732ab9b6",
      "name": "Valid email?"
    },
    {
      "parameters": {
        "message": "❌ That doesn't look like a valid email.\nPlease enter a valid email address.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1248,
        1104
      ],
      "id": "784262bb-cc1f-4930-841a-52b82e002c59",
      "name": "Invalid email",
      "webhookId": "invalid-email-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM users WHERE email = '{{ $('When chat message received').first().json.chatInput }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        816
      ],
      "id": "6452f1da-9009-43aa-abb6-a57b230f2348",
      "name": "User exists?",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "DTTznXV18cXVbQ8y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const otp = Math.floor(100000 + Math.random() * 900000).toString();\nconst sessionId = $('When chat message received').first().json.sessionId;\nconst email = $('When chat message received').first().json.chatInput;\nreturn { json: { otp, sessionId, email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        816
      ],
      "id": "99e67c1a-6150-4646-81b5-8cf81965aec0",
      "name": "Generate OTP"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM auth_tokens WHERE session_ref = '{{ $json.sessionId }}' AND type = 'otp';\nINSERT INTO auth_tokens (email, token, type, expires_at, session_ref)\nVALUES ('{{ $json.email }}', '{{ $json.otp }}', 'otp', NOW() + INTERVAL '10 minutes', '{{ $json.sessionId }}');\nINSERT INTO session_state (session_id, state, email)\nVALUES ('{{ $json.sessionId }}', 'awaiting_otp', '{{ $json.email }}')\nON CONFLICT (session_id) DO UPDATE SET state = 'awaiting_otp', email = '{{ $json.email }}', updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        816
      ],
      "id": "95437385-648f-40b7-98fb-773d5d956080",
      "name": "Store OTP",
      "credentials": {
        "postgres": {
          "id": "DTTznXV18cXVbQ8y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Generate OTP').first().json.email }}",
        "subject": "Your 101Bot connection code",
        "emailType": "text",
        "message": "=Your OTP code: {{ $('Generate OTP').first().json.otp }}\n\nIt expires in 10 minutes.\nDo not share this code.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2272,
        816
      ],
      "id": "955f903c-8021-4605-913b-463fb03cf32d",
      "name": "Send OTP mail",
      "webhookId": "79f30b58-9c80-47a3-baf6-a71e6a732c91",
      "credentials": {
        "gmailOAuth2": {
          "id": "YHOH7W6zHIpaUn5n",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "message": "📧 A 6-digit code has been sent to your email.\nEnter it here to continue.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        2528,
        816
      ],
      "id": "328bac10-825f-4a99-b985-5c18b0ca4df0",
      "name": "OTP sent",
      "webhookId": "otp-sent-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.email FROM auth_tokens t\nINNER JOIN session_state s ON s.email = t.email\nWHERE t.token = '{{ $('When chat message received').first().json.chatInput }}'\n  AND t.type = 'otp'\n  AND t.session_ref = '{{ $('When chat message received').first().json.sessionId }}'\n  AND t.expires_at > NOW()\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        512
      ],
      "id": "db539233-4e2d-4960-a327-9cd2c840f92a",
      "name": "Verify OTP",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "DTTznXV18cXVbQ8y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "otp-valid-cond",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        512
      ],
      "id": "963c70f0-5bf5-450e-b9b1-dfdb5f700f97",
      "name": "OTP valid?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM auth_tokens WHERE session_ref = '{{ $('When chat message received').first().json.sessionId }}' AND type = 'otp';\nINSERT INTO auth_tokens (email, token, type, expires_at, session_ref)\nVALUES ('{{ $json.email }}', '{{ $('When chat message received').first().json.sessionId }}', 'session', NOW() + INTERVAL '30 days', '{{ $('When chat message received').first().json.sessionId }}');\nUPDATE session_state SET state = 'authenticated', updated_at = NOW() WHERE session_id = '{{ $('When chat message received').first().json.sessionId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        416
      ],
      "id": "9fee1a83-bfb7-4b5a-a620-f67e18f07821",
      "name": "Create session",
      "credentials": {
        "postgres": {
          "id": "DTTznXV18cXVbQ8y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "message": "✅ You're logged in! Welcome to 101Bot.\nHow can I help you?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1760,
        416
      ],
      "id": "1bca7b47-cca3-4252-8ebb-100b776dd0f7",
      "name": "Logged in",
      "webhookId": "logged-in-wh"
    },
    {
      "parameters": {
        "message": "❌ Wrong or expired code.\nPlease check your email and try again.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1504,
        608
      ],
      "id": "46839f1a-3731-4023-85e0-56261761e2ba",
      "name": "Wrong OTP",
      "webhookId": "wrong-otp-wh"
    },
    {
      "parameters": {
        "message": "✅ You're already authenticated!\nHow can I help you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        992,
        272
      ],
      "id": "134ad9b3-4236-4fd3-a6d3-29cacb78fe51",
      "name": "Already authenticated",
      "webhookId": "already-auth-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email) VALUES ('{{ $('When chat message received').first().json.chatInput }}') ON CONFLICT (email) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        816
      ],
      "id": "cdf92dc8-7c39-43ee-b608-7aa5bc506c66",
      "name": "Add user",
      "credentials": {
        "postgres": {
          "id": "DTTznXV18cXVbQ8y",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get state": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Verify OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already authenticated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valid email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid email?": {
      "main": [
        [
          {
            "node": "User exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User exists?": {
      "main": [
        [
          {
            "node": "Add user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OTP": {
      "main": [
        [
          {
            "node": "Store OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store OTP": {
      "main": [
        [
          {
            "node": "Send OTP mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP mail": {
      "main": [
        [
          {
            "node": "OTP sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify OTP": {
      "main": [
        [
          {
            "node": "OTP valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP valid?": {
      "main": [
        [
          {
            "node": "Create session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create session": {
      "main": [
        [
          {
            "node": "Logged in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add user": {
      "main": [
        [
          {
            "node": "Generate OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8fd58a9f-e82f-4520-b859-ebe82d149d2d",
  "meta": {
    "instanceId": "eb7aa874eb350dd81587d4824291853962793e1993a6800dfbc98becba38782c"
  },
  "id": "A6Jn7fULt2VtxoCR",
  "tags": []
}