workflow/persona.json
{
  "name": "persona",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there !\nMy name is 101Bot. I am here to assist you !\n\n✉️ Enter your email to login or create an account.",
        "availableInChat": true,
        "agentName": "101Bot",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -6848,
        1072
      ],
      "id": "a275b6f2-b5be-4716-b0b0-36b54122148c",
      "name": "When chat message received",
      "webhookId": "d544be8c-8106-4854-a864-c8d617e20825"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "Invalid email format ❌\n\nPlease try again.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -5456,
        1488
      ],
      "id": "406e17c7-cf05-4987-a0f8-8bb42ee57047",
      "name": "Invalid email",
      "webhookId": "invalid-email-wh"
    },
    {
      "parameters": {
        "jsCode": "const otp = Math.floor(100000 + Math.random() * 900000).toString();\nconst sessionId = $('When chat message received').first().json.sessionId;\nconst email = $('Merge').first().json.email;\nreturn { json: { otp, sessionId, email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5424,
        1296
      ],
      "id": "f9aa40e3-1466-492a-951c-bd130d39d644",
      "name": "Generate OTP"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_otps (email, otp_code, expires_at)\nVALUES ($1, $2, NOW() + INTERVAL '10 minutes');",
        "options": {
          "queryReplacement": "={{ $json.email }}, {{ $json.otp }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5216,
        1296
      ],
      "id": "702ab1ae-874d-4f5a-8ab6-2756b2071b52",
      "name": "Store OTP",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Generate OTP').item.json.email }}",
        "subject": "Your temporary 101Bot connection code",
        "emailType": "text",
        "message": "=Enter this temporary verification code to continue :\n\n {{ $('Generate OTP').item.json.otp }}\n\nCode expires in 10 minutes.",
        "options": {
          "senderName": "101Bot"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -5024,
        1296
      ],
      "id": "7396928e-eac3-4005-bcf6-7f45add4b5a8",
      "name": "Send OTP mail",
      "webhookId": "79f30b58-9c80-47a3-baf6-a71e6a732c91",
      "credentials": {
        "gmailOAuth2": {
          "id": "FSSsVf92jxNa0I1P",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM user_otps\n  WHERE email = $1\n    AND otp_code = $2\n    AND expires_at > NOW()\n) AS otp_valid;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}, {{ $json.chatInput }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4448,
        1312
      ],
      "id": "df7ae0c9-4330-492f-918f-5f6030b4231b",
      "name": "Verify OTP",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (session_id, user_id, expires_at)\nVALUES ($1, $2, NOW() + INTERVAL '7 days')\nON CONFLICT (session_id)\nDO UPDATE SET\n  user_id = EXCLUDED.user_id,\n  expires_at = EXCLUDED.expires_at;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.sessionId }}, {{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2256,
        1280
      ],
      "id": "034b9f62-180a-41fe-8e8a-4e018085fc96",
      "name": "Create session",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "It looks like you've entered the wrong code ❌\n\nPlease try again.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -4048,
        1472
      ],
      "id": "549a6e70-385d-42e6-839f-069a13816115",
      "name": "Wrong OTP",
      "webhookId": "wrong-otp-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM sessions\n  WHERE session_id = $1\n    AND expires_at > NOW()\n) AS session_exists;",
        "options": {
          "queryReplacement": "={{ $json.sessionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6608,
        1072
      ],
      "id": "fe0c18ea-a619-4fd4-8dd9-8d6ea56c1b3f",
      "name": "Find session ID",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "542a3731-f817-48a9-bd74-5c763ca128c9",
              "leftValue": "={{ $json.session_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6384,
        1072
      ],
      "id": "a6d7d74d-9e5f-41f8-b425-24b71838fb74",
      "name": "If session ID exists"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=A verification code has been sent to {{ $('Generate OTP').item.json.email }}\n\nPlease enter it below.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -4832,
        1296
      ],
      "id": "9b32d004-6e8d-43af-8bc3-5c364a5139d1",
      "name": "OTP sent",
      "webhookId": "otp-sent-wh"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "email-regex-check",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5648,
        1312
      ],
      "id": "761f57af-2df7-4feb-bd3e-49c357ae8804",
      "name": "If email valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM users\n  WHERE email = $1\n) AS user_exists;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3840,
        1296
      ],
      "id": "73780c8a-300d-4e3e-852d-5852eaf8694a",
      "name": "Does user exist ?",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "02c47507-fa37-4427-ac54-ecf4d221d482",
              "leftValue": "={{ $json.user_exists }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3616,
        1296
      ],
      "id": "742f464d-abd2-47d1-9704-408a0ef37415",
      "name": "If user exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM user_otps\nWHERE email = $1\n  AND otp_code = $2;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}, {{ $('Generate OTP').item.json.otp }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4048,
        1296
      ],
      "id": "811c7f4f-5f01-4551-b7c0-6e356c603fea",
      "name": "Delete OTP",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $('When chat message received').item.json.chatInput.trim().toLowerCase();\n\nreturn { json: { email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6144,
        1296
      ],
      "id": "0aaca197-e01e-4fec-b1dd-cf3515960c3f",
      "name": "Format email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "otp-valid-cond",
              "leftValue": "={{ $json.otp_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4256,
        1312
      ],
      "id": "4fb2d455-6090-4e62-aa24-87344e4f75d5",
      "name": "If OTP valid"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "Authentication successful ✅\n\nHow can I help you today ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -2064,
        1280
      ],
      "id": "1275c11e-373c-407e-b271-e4f5a1eb93b3",
      "name": "Authenticated",
      "webhookId": "logged-in-wh"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = ($json.chatInput || '').trim().toLowerCase();\n\nreturn { json: { email } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        1488
      ],
      "id": "f113824e-86ce-40f8-b874-c357b9fe973e",
      "name": "Format email1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5856,
        1312
      ],
      "id": "e4f20798-93ce-4577-af7d-aec01268b124",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4624,
        1312
      ],
      "id": "592c55f3-a80d-46dd-a2ca-ac18f54d4f95",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email)\nVALUES ($1)\nON CONFLICT (email)\nDO UPDATE SET email = EXCLUDED.email\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2432,
        1280
      ],
      "id": "5d227bfe-3ba1-4228-8bae-21ec9aff4f52",
      "name": "Find user_id",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email, username, bio, created_at)\nVALUES ($1, $2, $3, NOW());",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}, {{ $('Create username').item.json.chatIntput }}, {{ $('Create bio').item.json.chatIntput }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2656,
        1584
      ],
      "id": "e691aa03-4b6c-4f9c-b321-d2f8712c269f",
      "name": "Creater user",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Merge2').item.json.userRequest }}",
        "options": {
          "systemMessage": "You are an AI assistant for a personalized newsletter platform.\n\nCRITICAL RULES\n\n* Analyze ONLY the latest user message.\n* NEVER use information from previous messages.\n* NEVER copy values from examples.\n* The \"user_message\" field MUST contain the exact user message.\n* Return ONLY valid JSON.\n* No markdown.\n* No explanations.\n* No text before or after the JSON.\n\nSUPPORTED INTENTS\n\n* create_newsletter\n* update_preferences\n* unsubscribe\n* delete_data\n* generate_newsletter_now\n* set_public_profile\n* search_public_user\n* help\n* invalid_request\n\nINTENT SELECTION\n\ncreate_newsletter\n\nUse when the user wants to create a newsletter subscription.\n\nExamples:\n\n* I want a newsletter about football\n* Create a newsletter about AI\n* I want a newsletter about football every Friday at 10am\n* I want a LinkedIn newsletter about tennis every week\n\nupdate_preferences\n\nUse when the user wants to modify an existing newsletter.\n\nExamples:\n\n* Add golf\n* Remove football\n* Change the time to 10am\n* Make it weekly\n* Make it shorter\n* Send it every Monday instead\n* Send it to Discord\n* Change my channel to Gmail\n\ngenerate_newsletter_now\n\nUse ONLY when the user explicitly requests immediate generation.\n\nExamples:\n\n* Generate a newsletter now\n* Send me a newsletter now\n* Make a LinkedIn post about football now\n* Create a newsletter about AI right now\n\nIMPORTANT\n\nIf the user specifies:\n\n* a schedule\n* a recurrence\n* a frequency\n* a delivery time\n\nNEVER use generate_newsletter_now.\n\nWords indicating a scheduled newsletter:\n\n* every\n* daily\n* weekly\n* monthly\n* every monday\n* every friday\n* at 10am\n* at 18:00\n* tomorrow\n* next week\n\nunsubscribe\n\nUse when the user wants to stop receiving newsletters.\n\ndelete_data\n\nUse when the user wants all personal data deleted.\n\nsearch_public_user\n\nUse when the user wants to view another public profile.\n\nset_public_profile\n\nUse when the user wants to modify their own public profile.\n\nhelp\n\nUse when the user asks how the platform works.\n\ninvalid_request\n\nUse for unrelated, malicious, unsupported, or unclear requests.\n\nTOPIC EXTRACTION\n\nExtract every topic mentioned by the user.\n\nExamples:\n\n\"Add cybersecurity\"\n→ [\"cybersecurity\"]\n\n\"Add AI and tennis\"\n→ [\"AI\", \"tennis\"]\n\n\"I want a newsletter about football and Formula 1\"\n→ [\"football\", \"formula 1\"]\n\nTOPICS ACTION\n\nAllowed values:\n\n* add\n* remove\n* replace\n* null\n\nRules:\n\nadd\n\nUser wants to add topics.\n\nExamples:\n\n* Add golf\n* Add AI\n\nremove\n\nUser wants to remove topics.\n\nExamples:\n\n* Remove football\n* Delete tennis\n\nreplace\n\nUser wants to completely replace all existing topics.\n\nExamples:\n\n* I only want AI now\n* Replace my topics with cybersecurity\n\nFor create_newsletter:\n\nAlways use:\n\n\"topics_action\": \"replace\"\n\nTIME RULES\n\nConvert all times to HH:MM format.\n\nExamples:\n\n* 8am → 08:00\n* 10am → 10:00\n* 6:30pm → 18:30\n\nSCHEDULE EXTRACTION\n\nExtract scheduling information whenever available.\n\nsend_day\n\nAllowed values:\n\n* monday\n* tuesday\n* wednesday\n* thursday\n* friday\n* saturday\n* sunday\n\nExamples:\n\n\"every Friday\"\n\n{\n\"frequency\": \"weekly\",\n\"send_day\": \"friday\"\n}\n\n\"every Monday at 8am\"\n\n{\n\"frequency\": \"weekly\",\n\"send_day\": \"monday\",\n\"send_time\": \"08:00\"\n}\n\nsend_day_of_month\n\nUsed only for monthly schedules.\n\nExamples:\n\n\"every month on the 15th\"\n\n{\n\"frequency\": \"monthly\",\n\"send_day_of_month\": 15\n}\n\n\"every month on the 1st at 9am\"\n\n{\n\"frequency\": \"monthly\",\n\"send_day_of_month\": 1,\n\"send_time\": \"09:00\"\n}\n\nALLOWED VALUES\n\nfrequency\n\n* daily\n* weekly\n* monthly\n\ntone\n\n* neutral\n* professional\n* casual\n* funny\n\nlength\n\n* short\n* detailed\n\nMISSING VALUES\n\n* topics = []\n* all other fields = null\n\nJSON SCHEMA\n\n{\n\"intent\": \"\",\n\"user_message\": \"\",\n\"topics\": [],\n\"topics_action\": null,\n\"frequency\": null,\n\"send_day\": null,\n\"send_day_of_month\": null,\n\"send_time\": null,\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": null,\n}\n\nEXAMPLES\n\nUser:\nI want a newsletter about football every Friday at 10am\n\nResponse:\n{\n\"intent\": \"create_newsletter\",\n\"user_message\": \"I want a newsletter about football every Friday at 10am\",\n\"topics\": [\"football\"],\n\"topics_action\": \"replace\",\n\"frequency\": \"weekly\",\n\"send_day\": \"friday\",\n\"send_day_of_month\": null,\n\"send_time\": \"10:00\",\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": null,\n}\n\nUser:\nAdd golf and change the time to 10am\n\nResponse:\n{\n\"intent\": \"update_preferences\",\n\"user_message\": \"Add golf and change the time to 10am\",\n\"topics\": [\"golf\"],\n\"topics_action\": \"add\",\n\"frequency\": null,\n\"send_day\": null,\n\"send_day_of_month\": null,\n\"send_time\": \"10:00\",\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": null,\n}\n\nUser:\nGenerate a LinkedIn newsletter about tennis now\n\nResponse:\n{\n\"intent\": \"generate_newsletter_now\",\n\"user_message\": \"Generate a LinkedIn newsletter about tennis now\",\n\"topics\": [\"tennis\"],\n\"topics_action\": null,\n\"frequency\": null,\n\"send_day\": null,\n\"send_day_of_month\": null,\n\"send_time\": null,\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": null,\n}\n\nUser:\nSearch the profile of minecraftmaster67\n\nResponse:\n{\n\"intent\": \"search_public_user\",\n\"user_message\": \"Search the profile of minecraftmaster67\",\n\"topics\": [],\n\"topics_action\": null,\n\"frequency\": null,\n\"send_day\": null,\n\"send_day_of_month\": null,\n\"send_time\": null,\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": \"minecraftmaster67\",\n}\n\nUser:\nI want my newsletter on Discord\n\nResponse:\n{\n\"intent\": \"update_preferences\",\n\"user_message\": \"I want my newsletter on Discord\",\n\"topics\": [],\n\"topics_action\": null,\n\"frequency\": null,\n\"send_day\": null,\n\"send_day_of_month\": null,\n\"send_time\": null,\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": null,\n}\n\nUser:\nSend it to Gmail instead\n\nResponse:\n{\n\"intent\": \"update_preferences\",\n\"user_message\": \"Send it to Gmail instead\",\n\"topics\": [],\n\"topics_action\": null,\n\"frequency\": null,\n\"send_day\": null,\n\"send_day_of_month\": null,\n\"send_time\": null,\n\"tone\": null,\n\"length\": null,\n\"max_articles\": null,\n\"target_user\": null,\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1280,
        1072
      ],
      "id": "f2cd876b-02bc-43fb-8291-8d8f28711b06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=create_newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f128b9b-3d9d-495a-bfc0-56cc67c05bd6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee655d24-b73e-4344-a5c9-68df31a5df40",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "update_preferences",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update preferences"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "947b2c7f-f281-4a88-89f3-6146a8f5fc73",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=unsubscribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unsubscribe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a6a32497-ea12-416b-9957-0bcd50360db1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "delete_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deleta data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0dbf1364-02bb-468f-b083-bb524c9b0181",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "set_public_profile",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set public profile"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b667876e-42a7-4d39-bacd-b62612b2e3f0",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "search_public_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Search public user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5e2710f3-7ab7-439e-83ed-cd13d22810c3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "generate_newsletter_now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate newsletter now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "480be10b-9897-4166-94b1-f8ccf745f8e7",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "365289fd-eaca-42b1-af71-8c660c4bbd78",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "invalid_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid request"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        960
      ],
      "id": "6d9215a7-a0d9-44eb-85f3-0b3b6f99a446",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1280,
        1280
      ],
      "id": "801de07e-1ac6-4d2f-b9ed-2c13d68afd81",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "J9zlHuWIC0kIM6en",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = JSON.parse($json.output);\n\nreturn [\n  {\n    json: {\n        intent: input.intent ?? \"invalid_request\",\n        user_message: input.user_message ?? \"\",\n        topics: Array.isArray(input.topics) ? input.topics : [],\n        topics_action: input.topics_action ?? null,\n        frequency: input.frequency ?? null,\n        send_day: input.send_day ?? null,\n        send_day_of_month: input.send_day_of_month ?? null,\n        send_time: input.send_time ?? null,\n        preferred_channel: input.preferred_channel ?? null,\n        tone: input.tone ?? null,\n        length: input.length ?? null,\n        format: input.format ?? null,\n        max_articles: input.max_articles ?? null,\n        target_user: input.target_user ?? null,        \n      }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1072
      ],
      "id": "68b660c2-c21b-4bdd-83c9-fb1854c8a46b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pythonscript:8000/newsletter/create",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "topics",
              "value": "={{ $('Structured Output Parser').item.json.topics }}"
            },
            {
              "name": "frequency",
              "value": "={{ $('Structured Output Parser').item.json.frequency }}"
            },
            {
              "name": "send_time",
              "value": "={{ $('Structured Output Parser').item.json.send_time }}"
            },
            {
              "name": "tone",
              "value": "={{ $('Structured Output Parser').item.json.tone }}"
            },
            {
              "name": "format",
              "value": "={{ $json.format }}"
            },
            {
              "name": "max_articles",
              "value": "={{ $('Structured Output Parser').item.json.max_articles }}"
            },
            {
              "name": "topics_action",
              "value": "={{ $('Structured Output Parser').item.json.topics_action }}"
            },
            {
              "name": "length",
              "value": "={{ $('Structured Output Parser').item.json.length }}"
            },
            {
              "name": "send_day",
              "value": "={{ $('Structured Output Parser').item.json.send_day }}"
            },
            {
              "name": "send_day_of_month",
              "value": "={{ $('Structured Output Parser').item.json.send_day_of_month }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        128
      ],
      "id": "5e83a9c4-c6e9-49a1-b4d3-ba9a0a57e495",
      "name": "Create newsletter"
    },
    {
      "parameters": {
        "message": "I was unable to process your request ❌\n\nHere's the list of the requests I am able to process :\n\n- Create a new newsletter\n- Update your preferences (topics, format, send time, frequency...)\n- Unsubscribe you from your newsletter\n- Delete your data\n- Generate a newsletter now\n- Search public user\n- Set public profile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -400,
        1472
      ],
      "id": "5851c962-9efe-460c-91e4-0d1128178cfe",
      "name": "Invalid request",
      "webhookId": "54a8ddd6-0a05-421d-8ca5-6d0059a873c9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8684277c-12b5-4684-a73e-350ccf1a3fe7",
              "name": "userRequest",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6176,
        1056
      ],
      "id": "4a794e89-b23d-4edc-a6b6-f8250408d6eb",
      "name": "Get user's request"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://pythonscript:8000/newsletter/preferences",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "topics",
              "value": "={{ $('Structured Output Parser').item.json.topics }}"
            },
            {
              "name": "frequency",
              "value": "={{ $('Structured Output Parser').item.json.frquency }}"
            },
            {
              "name": "send_time",
              "value": "={{ $('Structured Output Parser').item.json.send_time }}"
            },
            {
              "name": "tone",
              "value": "={{ $('Structured Output Parser').item.json.tone }}"
            },
            {
              "name": "format",
              "value": "={{ $('Structured Output Parser').item.json.format }}"
            },
            {
              "name": "max_articles",
              "value": "={{ $('Structured Output Parser').item.json.max_articles }}"
            },
            {
              "name": "topics_action",
              "value": "={{ $('Structured Output Parser').item.json.topics_action }}"
            },
            {
              "name": "length",
              "value": "={{ $('Structured Output Parser').item.json.length }}"
            },
            {
              "name": "=send_day",
              "value": "={{ $('Structured Output Parser').item.json.send_day }}"
            },
            {
              "name": "=send_day_of_month",
              "value": "={{ $('Structured Output Parser').item.json.send_day_of_month }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        288
      ],
      "id": "031223da-4bda-40e8-a9a9-1719a8dff7a1",
      "name": "Update preferences"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pythonscript:8000/newsletter/unsubscribe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        448
      ],
      "id": "0f1ad7e2-b54d-432b-9425-a9afe9e526ad",
      "name": "Unsubscribe"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        608
      ],
      "id": "cec2fa9b-0321-4daa-bf98-19c629a178a1",
      "name": "Deleted data message",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://pythonscript:8000/user/delete-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        608
      ],
      "id": "b8e15769-2f56-4d53-943d-388db3691c50",
      "name": "Delete data"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "Do you want to set your profile as public ?\n\n(If your profile is public, other users can research your profile)",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Yes",
            "disapproveLabel": "No"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -3040,
        1440
      ],
      "id": "3a6bccd5-70b6-4c48-a46c-6b764e6b918d",
      "name": "Set profile public",
      "webhookId": "652b2711-6605-4eea-b6fe-98f8c3e6cf56"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "Looks like it's your first connection !\n\nPleaser enter your username below.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -3392,
        1440
      ],
      "id": "8ef04a38-fb7a-4e0c-9765-50e33c75f6ce",
      "name": "Create username",
      "webhookId": "652b2711-6605-4eea-b6fe-98f8c3e6cf56"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=Great {{ $('Create username').item.json.chatInput }} ! \n\nAdd a quick bio about yourself too !",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -3216,
        1440
      ],
      "id": "cc591565-dd83-4def-95c6-55830a2413bd",
      "name": "Create bio",
      "webhookId": "2fcae5f9-8bf7-4b44-aa45-f1879de9a1e9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email, username, bio, is_public, created_at)\nVALUES ($1, $2, $3, true, NOW());",
        "options": {
          "queryReplacement": "={{ $('Generate OTP').item.json.email }}, {{ $('Create username').item.json.chatInput }}, {{ $('Create bio').item.json.chatInput }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2656,
        1424
      ],
      "id": "768a91de-7f2c-4125-8293-8cdf7b99048b",
      "name": "Creater public user",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b088421-c97e-49f9-8b3f-a543be978d14",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2864,
        1440
      ],
      "id": "fc055ec9-dc87-4a25-ad1d-56b5c4e10a50",
      "name": "If public"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    u.username,\n    u.bio,\n    u.created_at,\n    pref.topics,\n    pref.frequency\nFROM users u\nJOIN user_preferences pref\n    ON pref.user_id = u.id\nWHERE u.username = $1\nAND u.is_public = true;",
        "options": {
          "queryReplacement": "={{ $json.target_user }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        928
      ],
      "id": "36957208-088a-4977-9362-2268c84d3e83",
      "name": "Search public user",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.username }}'s profile\n----\nJoined: {{ $json.created_at }}\n\nInterests: {{ $json.topics }}\n\nFrequency: {{ $json.frequency }}\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        912
      ],
      "id": "ff001dea-b829-4a48-a425-7b6e0ceeff3e",
      "name": "Display user profile",
      "webhookId": "49208ab3-7300-439f-891f-7bc4940525c0"
    },
    {
      "parameters": {
        "message": "=❌User \"{{ $('Structured Output Parser').item.json.target_user }}\" does not exist or did not set profile to public.\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        1072
      ],
      "id": "ba40465c-b087-413c-ac35-9d99c4a84790",
      "name": "User's profile not found",
      "webhookId": "49208ab3-7300-439f-891f-7bc4940525c0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eddc0fef-9ece-482d-b040-fb2cac927edf",
              "leftValue": "={{ $json.username }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        928
      ],
      "id": "6493d025-449a-4589-8d2e-de87d59c4e4c",
      "name": "If profile found"
    },
    {
      "parameters": {
        "message": "Here's the list of the requests I am able to process :\n\n- Create a new newsletter\n- Update your preferences (topics, format, send time, frequency...)\n- Unsubscribe you from your newsletter\n- Delete your data\n- Generate a newsletter now\n- Search public user\n- Set public profile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -400,
        1280
      ],
      "id": "23679dab-a23c-4223-a282-e03a2ee1a7d1",
      "name": "Help",
      "webhookId": "54a8ddd6-0a05-421d-8ca5-6d0059a873c9"
    },
    {
      "parameters": {
        "message": "={{ json.message }}\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        448
      ],
      "id": "9931c6f8-106f-4498-b90e-3091ce7964ba",
      "name": "Unsubscribed message",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "message": "={{ json.message }}\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        128
      ],
      "id": "c5524245-22c6-4938-9a09-08c357e277e5",
      "name": "Created newsletter message",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "message": "={{ json.message }}\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        288
      ],
      "id": "c51e1e46-9413-439f-8e3e-9feb509434d8",
      "name": "Updated preferences message",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " UPDATE users\nSET is_public = true\nFROM sessions s\nWHERE s.user_id = users.id\nAND s.session_id = $1\nAND s.expires_at > NOW()\n",
        "options": {
          "queryReplacement": "={{ $('When chat message received').item.json.sessionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        768
      ],
      "id": "186cd426-c8eb-45b6-af24-fb53d270a7bb",
      "name": "Set public profile",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "message": "Processing your request ⌛\n\nPlease wait",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -1520,
        1072
      ],
      "id": "33ddb5d8-232a-4e90-9fa4-5eba75d18e37",
      "name": "Processing request message",
      "webhookId": "50c4e0df-b8a0-4dda-ad14-646ee25cfc87"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8684277c-12b5-4684-a73e-350ccf1a3fe7",
              "name": "userRequest",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1888,
        1280
      ],
      "id": "d34ecc60-d913-4d15-ab3d-be7851042630",
      "name": "Get user's request1"
    },
    {
      "parameters": {
        "message": "=Successsfully set profile to public✅\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        544,
        768
      ],
      "id": "586fb718-8d8f-4ff0-a6b5-242d3e92ee85",
      "name": "Set public profile message",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1680,
        1072
      ],
      "id": "04f5d373-946e-46a9-a877-5380c6609573",
      "name": "Merge2"
    },
    {
      "parameters": {
        "message": "=Succesfully generated newsletter✅\n\nWhat else can I do for you ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        4192,
        1648
      ],
      "id": "3ee43876-c1ac-4bff-a0d8-8ded5e57d21a",
      "name": "Generated newsletter1",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst topics = Array.isArray(input.topics) ? input.topics.filter((t) => typeof t === 'string' && t.trim()) : [];\nconst normalizedTopics = topics.map((t) => t.trim());\nconst maxArticlesValue = Number(input.max_articles);\nconst maxArticles = Number.isFinite(maxArticlesValue) && maxArticlesValue > 0 ? maxArticlesValue : 5;\n\nreturn {\n  json: {\n    sessionId: input.sessionId || input.session_id,\n    userId: input.user_id,\n    email: input.email || '',\n    username: input.username || '',\n    newsletterQuery: normalizedTopics.length > 0 ? normalizedTopics.join(' OR ') : 'latest news',\n    preferences: {\n      topics: normalizedTopics,\n      frequency: input.frequency,\n      send_day: input.send_day,\n      send_day_of_month: input.send_day_of_month,\n      send_time: input.send_time,\n      tone: input.tone,\n      length: input.length,\n      format: input.format,\n      max_articles: maxArticles,\n      is_subscribed: input.is_subscribed !== false\n    },\n    maxArticles\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1552
      ],
      "id": "e93fb654-c72e-4866-89b9-03cfd13377dc",
      "name": "Prepare newsletter request2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst articles = Array.isArray(input.articles) ? input.articles : [];\nconst simplified = articles.map((a) => ({\n  title: a.title || '',\n  description: a.description || '',\n  url: a.url || '',\n  source: a.source?.name || '',\n  publishedAt: a.publishedAt || ''\n}));\nreturn { json: { articles: simplified } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1552
      ],
      "id": "798d1e60-4152-405a-affe-cd320675669d",
      "name": "Simplify articles1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Preferences:\n{{ JSON.stringify($('Prepare newsletter request2').item.json.preferences) }}\n\nArticles:\n{{ JSON.stringify($json.articles) }}\n\nWrite a personalized newsletter using the preferences above. Return ONLY valid JSON with this schema:\n{\n  \"subject\": \"\",\n  \"body\": \"\",\n  \"articles\": [\n    {\n      \"title\": \"\",\n      \"summary\": \"\",\n      \"url\": \"\"\n    }\n  ]\n}\n\nRules:\n- Use the topics and tone from preferences.\n- Respect the length preference: short or detailed.\n- Keep the body ready for email delivery.\n- Select at most 5 articles.\n- If there are no useful articles, still write a short newsletter based on the preferences.",
        "options": {
          "systemMessage": "You are a newsletter editor for 101Bot. You receive a preferences object and a list of news articles. Use only the provided input. Return only valid JSON and no markdown. Respect the user's topics, tone, length, format, and max_articles. Write concise, polished newsletter copy that can be sent by email or posted to Discord."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        1552
      ],
      "id": "95bc386a-78fd-4b8a-bb8f-c6913eb60a1e",
      "name": "Newsletter writer1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prepareData = $('Prepare newsletter request2').first().json;\nconst fallbackArticles = Array.isArray(input.articles) ? input.articles : [];\nlet parsed;\ntry {\n  parsed = JSON.parse(input.output || '{}');\n} catch (error) {\n  parsed = {\n    subject: 'Your 101Bot newsletter',\n    body: String(input.output || ''),\n    articles: fallbackArticles.slice(0, 5).map((a) => ({\n      title: a.title || 'Article',\n      summary: a.description || '',\n      url: a.url || ''\n    }))\n  };\n}\nconst articles = Array.isArray(parsed.articles) ? parsed.articles.slice(0, 5) : [];\nreturn [{\n  json: {\n    subject: parsed.subject || 'Your 101Bot newsletter',\n    body: parsed.body || '',\n    articles,\n    email: prepareData.email || '',\n    username: prepareData.username || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        1552
      ],
      "id": "79e29c34-6f1d-433b-91bc-1e6b19849093",
      "name": "Normalize newsletter output1"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize newsletter output1').first().json;\n\nconst articlesHtml = (Array.isArray(input.articles) ? input.articles : [])\n  .map(a => `\n    <div style=\"margin-bottom: 24px; padding: 16px; border-left: 4px solid #4F46E5; background: #f9f9f9; border-radius: 4px;\">\n      <h3 style=\"margin: 0 0 8px 0; font-size: 16px;\">\n        <a href=\"${a.url}\" style=\"color: #4F46E5; text-decoration: none;\">\n          ${a.title}\n        </a>\n      </h3>\n      <p style=\"margin: 0; color: #555; font-size: 14px; line-height: 1.5;\">\n        ${a.summary}\n      </p>\n      <a href=\"${a.url}\" style=\"display: inline-block; margin-top: 8px; font-size: 12px; color: #888;\">\n        Read more →\n      </a>\n    </div>\n  `)\n  .join('');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; color: #333;\">\n\n  <div style=\"background: #4F46E5; padding: 24px; border-radius: 8px; margin-bottom: 32px;\">\n    <h1 style=\"color: white; margin: 0; font-size: 22px;\">📰 101Bot Newsletter</h1>\n    <p style=\"color: #c7d2fe; margin: 8px 0 0 0; font-size: 14px;\">\n      ${input.subject}\n    </p>\n  </div>\n\n  <p style=\"font-size: 15px; line-height: 1.6; margin-bottom: 28px;\">\n    ${input.body}\n  </p>\n\n  ${articlesHtml}\n\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 32px 0;\">\n\n  <p style=\"color: #aaa; font-size: 12px; text-align: center;\">\n    Sent by 101Bot for leo\n  </p>\n\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      subject: input.subject,\n      body: input.body,\n      articles: input.articles,\n      html\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        1408
      ],
      "id": "87b5914f-b488-4116-a662-c1604c8cf12e",
      "name": "Gmail HTML Format1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $('Normalize newsletter output1').item.json.subject }}",
        "message": "={{ $('Gmail HTML Format1').item.json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3936,
        1408
      ],
      "id": "e043c995-96f8-493c-8ba2-368d01663044",
      "name": "Send Gmail1",
      "webhookId": "daf956bc-9385-466a-ad42-643e107aa9bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "FSSsVf92jxNa0I1P",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize newsletter output1').first().json;\nconst fields = (Array.isArray(input.articles) ? input.articles : []).slice(0, 5).map((a) => ({\n  name: (a.title || 'Article').substring(0, 256),\n  value: `${a.summary || ''}${a.url ? '\\n' + a.url : ''}`.trim().substring(0, 1024),\n  inline: false\n}));\n\nreturn [{\n  json: {\n    embeds: [{\n      title: input.subject || 'News Digest',\n      description: (input.body || '').substring(0, 4096),\n      color: 5814783,\n      fields,\n      footer: { text: `Powered by 101Bot${input.username ? ' for ' + input.username : ''}` }\n    }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        1552
      ],
      "id": "dac1a4e0-e095-44c6-a13b-45367bad909d",
      "name": "Discord embed Format1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1512371662002196510/SA7Y23xWUZQTQWe_QjLtEsDzwi7BwKussIe1fkY1EY1hoxAqmkJMgPNiVqESOWvMed5c",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "={{ $json.embeds }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3664,
        1552
      ],
      "id": "2fd1a47d-6079-44df-b617-efcda000ee7e",
      "name": "Send Discord Embed1"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1552,
        1760
      ],
      "id": "1a17c8c1-93c0-4a91-9d64-3396e26fde43",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "J9zlHuWIC0kIM6en",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.newsletterQuery }}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageSize",
              "value": "={{ $json.maxArticles }}"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "apiKey",
              "value": "439b41713071423998fff6ec46e6d0a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        1552
      ],
      "id": "7b803b02-d25d-4904-b8f4-ffe56b8bf7b6",
      "name": "Search news by subject"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email\nFROM users;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3648,
        1408
      ],
      "id": "5d6e3133-9b6b-4141-8433-89c003b9e9af",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🔐 Authentication with OTP\n",
        "height": 528,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5488,
        1216
      ],
      "typeVersion": 1,
      "id": "9e5d3c49-4177-4bc1-a74b-995663d252f8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 👤 User Creation\n",
        "height": 528,
        "width": 2128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        1216
      ],
      "typeVersion": 1,
      "id": "9c36f7e1-e488-4222-aedb-168f05366f87",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 📥 Writting and Sending newsletters\n",
        "height": 672,
        "width": 4436
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1328
      ],
      "typeVersion": 1,
      "id": "9085c781-adc6-4f8e-ac64-90cc6664ccf5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# API Python\n",
        "height": 1232,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "ff01b809-b717-4486-955f-bda64dd0349e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=How do you want to receive your newsletter ? \n\n* By email\n* Linkedin post\n* Through a Discord bot",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -368,
        128
      ],
      "id": "42871cf5-1af5-4a1f-ad01-48cfc80b671d",
      "name": "Ask format",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "jsCode": "const message = ($input.first().json.chatInput || \"\").toLowerCase();\n\nlet format = \"personal_news\";\n\nif (/linkedin/.test(message)) {\n  format = \"linkedin\";\n} else if (/discord/.test(message)) {\n  format = \"discord\";\n} else if (/\\b(email|mail)\\b/.test(message)) {\n  format = \"email\";\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      format\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        128
      ],
      "id": "adc6aedf-33e8-446c-84c3-966dc486e5a7",
      "name": "Format parser"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=How do you want to receive your newsletter ? \n\n* In this chat\n* By email\n* Linkedin post\n* Through a Discord bot",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        2512,
        1424
      ],
      "id": "329a7317-0e02-463e-a331-0fc060211c15",
      "name": "Ask format1",
      "webhookId": "5cf1e2f5-69e9-42ee-b43f-2520249e61a2"
    },
    {
      "parameters": {
        "jsCode": "const message =  ($json.chatInput || '').trim().toLowerCase();\n\nlet format = \"personal_news\";\n\nif (/linkedin/.test(message)) {\n    format = \"linkedin\";\n} else if (/discord/.test(message)) {\n    format = \"discord\";\n} else if (/\\b(email|mail)\\b/.test(message)) {\n    format = \"email\";\n} else if (/chat/.test(message)) {\n    format = \"chat\";\n}\n\nreturn [\n    {\n        json: {\n            ...$json,\n            format\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1424
      ],
      "id": "18aa2268-008f-46c8-8718-3f1ad7a677f5",
      "name": "Format parser1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "545ca40c-f76c-4637-8a75-242a09447ffa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be18ecd4-26a8-4f88-9c35-1795ca4d14a3",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "discord",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Discord"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f1303bd-8f5d-43a2-91e8-e0fedef1390e",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5dd76c6e-93ee-4ff7-95ee-ee9a8b7e51b4",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "Chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3008,
        1536
      ],
      "id": "65cb2989-41e2-4466-8951-43d7d1dd903f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "message": "={{ $('Newsletter writer1').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        3680,
        1840
      ],
      "id": "15c38f87-3330-4e4a-b3bc-6b78d4622fbf",
      "name": "Send newsletter in chat",
      "webhookId": "6bc76070-2929-4cb7-8e21-fcbbef5ac78e"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\nconst newsletter = JSON.parse(raw);\n\nlet text = `📰 ${newsletter.subject}\\n\\n`;\ntext += `${newsletter.body}\\n\\n`;\n\nif (Array.isArray(newsletter.articles) && newsletter.articles.length > 0) {\n  text += `Articles sélectionnés :\\n\\n`;\n\n  newsletter.articles.forEach((article, index) => {\n    text += `${index + 1}. ${article.title}\\n`;\n    text += `${article.summary}\\n`;\n    text += `${article.url}\\n\\n`;\n  });\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      subject: newsletter.subject,\n      body: newsletter.body,\n      articles: newsletter.articles,\n      formatted_message: text.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        1840
      ],
      "id": "32b4f255-0f6b-4f44-b07b-10741eafdd22",
      "name": "Format for chat output"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\nconst newsletter = JSON.parse(raw);\n\nlet post = `🚀 ${newsletter.subject}\\n\\n`;\n\nnewsletter.articles.forEach(article => {\n    post += `🔹 ${article.title}\\n`;\n    post += `${article.summary}\\n\\n`;\n});\n\nreturn [{\n    json: {\n        ...$json,\n        linkedin_post: post\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        1712
      ],
      "id": "8c73710a-3314-421c-8f73-985a5441ae3a",
      "name": "Linkedin format"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        3680,
        1712
      ],
      "id": "6667c1f3-0bf0-4e4b-91ab-20db89d3a399",
      "name": "Create a post"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        1680
      ],
      "id": "ef445fee-3a65-439b-9071-52fdc3233a27",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    u.id,\n    u.email,\n    up.topics,\n    up.frequency,\n    up.send_day,\n    up.send_day_of_month,\n    up.send_time,\n    up.format,\n    up.length,\n    up.max_articles\nFROM user_preferences up\nJOIN users u\n    ON u.id = up.user_id\nWHERE up.is_subscribed = true\nAND (\n    (\n        up.frequency = 'daily'\n        AND date_trunc('minute', up.send_time::time)\n            = date_trunc('minute', (NOW() AT TIME ZONE 'Europe/Paris')::time)\n    )\n    OR\n    (\n        up.frequency = 'weekly'\n        AND lower(up.send_day) = lower(trim(to_char((NOW() AT TIME ZONE 'Europe/Paris')::date, 'Day')))\n        AND date_trunc('minute', up.send_time::time)\n            = date_trunc('minute', (NOW() AT TIME ZONE 'Europe/Paris')::time)\n    )\n    OR\n    (\n        up.frequency = 'monthly'\n        AND up.send_day_of_month = EXTRACT(DAY FROM (NOW() AT TIME ZONE 'Europe/Paris')::date)\n        AND date_trunc('minute', up.send_time::time)\n            = date_trunc('minute', (NOW() AT TIME ZONE 'Europe/Paris')::time)\n    )\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        1680
      ],
      "id": "4a0d6ce3-14a2-4b34-9c7a-f50bbf1bbfdd",
      "name": "Get users to notify1",
      "credentials": {
        "postgres": {
          "id": "64qNjyun3jjBjUv2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-users",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1680
      ],
      "id": "2940d39e-00df-4fde-9c4e-3210b39b5771",
      "name": "If users to notify1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2b1930a-f861-4ec9-94c9-8535ea2e1d5e",
              "leftValue": "={{ $('Prepare newsletter request2').item.json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2192,
        1552
      ],
      "id": "ee490680-2603-43da-b1f2-d1d50c37dc20",
      "name": "If not scheduled",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Find session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid email": {
      "main": [
        [
          {
            "node": "Format email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OTP": {
      "main": [
        [
          {
            "node": "Store OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store OTP": {
      "main": [
        [
          {
            "node": "Send OTP mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP mail": {
      "main": [
        [
          {
            "node": "OTP sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify OTP": {
      "main": [
        [
          {
            "node": "If OTP valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create session": {
      "main": [
        [
          {
            "node": "Authenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrong OTP": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find session ID": {
      "main": [
        [
          {
            "node": "If session ID exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If session ID exists": {
      "main": [
        [
          {
            "node": "Get user's request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP sent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email valid": {
      "main": [
        [
          {
            "node": "Generate OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does user exist ?": {
      "main": [
        [
          {
            "node": "If user exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If user exists": {
      "main": [
        [
          {
            "node": "Find user_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete OTP": {
      "main": [
        [
          {
            "node": "Does user exist ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If OTP valid": {
      "main": [
        [
          {
            "node": "Delete OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticated": {
      "main": [
        [
          {
            "node": "Get user's request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format email1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If email valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Verify OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user_id": {
      "main": [
        [
          {
            "node": "Create session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creater user": {
      "main": [
        [
          {
            "node": "Find user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Structured Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ask format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsubscribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set public profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search public user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare newsletter request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create newsletter": {
      "main": [
        [
          {
            "node": "Created newsletter message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user's request": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update preferences": {
      "main": [
        [
          {
            "node": "Updated preferences message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsubscribe": {
      "main": [
        [
          {
            "node": "Unsubscribed message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete data": {
      "main": [
        [
          {
            "node": "Deleted data message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile public": {
      "main": [
        [
          {
            "node": "If public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create username": {
      "main": [
        [
          {
            "node": "Create bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create bio": {
      "main": [
        [
          {
            "node": "Set profile public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creater public user": {
      "main": [
        [
          {
            "node": "Find user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If public": {
      "main": [
        [
          {
            "node": "Creater public user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creater user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search public user": {
      "main": [
        [
          {
            "node": "If profile found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If profile found": {
      "main": [
        [
          {
            "node": "Display user profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User's profile not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing request message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user's request1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set public profile": {
      "main": [
        [
          {
            "node": "Set public profile message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Processing request message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare newsletter request2": {
      "main": [
        [
          {
            "node": "Search news by subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify articles1": {
      "main": [
        [
          {
            "node": "Newsletter writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter writer1": {
      "main": [
        [
          {
            "node": "Normalize newsletter output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize newsletter output1": {
      "main": [
        [
          {
            "node": "If not scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail HTML Format1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail1": {
      "main": [
        [
          {
            "node": "Generated newsletter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord embed Format1": {
      "main": [
        [
          {
            "node": "Send Discord Embed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Embed1": {
      "main": [
        [
          {
            "node": "Generated newsletter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Newsletter writer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search news by subject": {
      "main": [
        [
          {
            "node": "Simplify articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask format": {
      "main": [
        [
          {
            "node": "Format parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format parser": {
      "main": [
        [
          {
            "node": "Create newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask format1": {
      "main": [
        [
          {
            "node": "Format parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format parser1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Gmail HTML Format1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord embed Format1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linkedin format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format for chat output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for chat output": {
      "main": [
        [
          {
            "node": "Send newsletter in chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin format": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get users to notify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users to notify1": {
      "main": [
        [
          {
            "node": "If users to notify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If users to notify1": {
      "main": [
        [
          {
            "node": "Prepare newsletter request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not scheduled": {
      "main": [
        [
          {
            "node": "Ask format1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dee596c4-3847-4b3f-9220-b14e635e0ab1",
  "meta": {
    "instanceId": "9b5cc7bde56e2478443b2d16bf91a521183d63cd21b78086ee0cd8c37542357d"
  },
  "id": "bWxUDzCb0oGwfW3H",
  "tags": []
}